<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon API</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f7f7f7;
      }

      h1 {
        font-size: 2.5em;
        margin-top: 2em;
        margin-bottom: 1em;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 1em;
      }

      a {
        text-decoration: none;
        color: #1a73e8;
      }
    </style>
  </head>
  <body>
    <h1>Amazon API</h1>
    <ul>
      <li><a href="/productos" target="_blank">/productos</a></li>
      <li>
        <a href="/fecha/2023-04-29" target="_blank">/fecha/{{ fecha }}</a>
      </li>
    </ul>
  </body>
</html>
